In [18]:
dict_classification_knn = {('0','precision'): 
                           [0.94, 0.85, 0.98, 0.87], 
                           ('0','recall'): [0.86, 0.76, 0.87, 0.86], 
                           ('1','precision'): [0.56, 0.45, 0.34, 0.45], 
                           ('1','recall'): [0.35, 0.34, 0.45, 0.67]}

In [4]:
import pandas as pd

In [19]:
df_classification_knn = pd.DataFrame(dict_classification_knn)
df_classification_knn

          0                1
  precision recall precision recall
0      0.94   0.86      0.56   0.35
1      0.85   0.76      0.45   0.34
2      0.98   0.87      0.34   0.45
3      0.87   0.86      0.45   0.67

In [29]:
dict_classification_rf = {('0','precision_'): 
                           [0.80, 0.85, 0.98, 0.87], 
                           ('0','recall_'): [0.80, 0.76, 0.87, 0.80], 
                           ('1','precision_'): [0.56, 0.40, 0.34, 0.45], 
                           ('1','recall_'): [0.35, 0.34, 0.40, 0.67]}

In [30]:
df_classification_rf = pd.DataFrame(dict_classification_rf)
df_classification_rf

           0                  1
  precision_ recall_ precision_ recall_
0       0.80    0.80       0.56    0.35
1       0.85    0.76       0.40    0.34
2       0.98    0.87       0.34    0.40
3       0.87    0.80       0.45    0.67

In [31]:
df_summary = pd.concat([df_classification_knn, df_classification_rf], axis=1)

In [32]:
def highlight_max(s):
    '''
    highlight the maximum in a Series yellow.
    '''
    is_max = s == s.max()
    return ['background-color: yellow' if v else '' for v in is_max]

In [33]:
df_summary.style.apply(highlight_max)